/* src/Footer.css */
.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    background-color: #3989fa;
  }
  
  .footer p {
    margin: 0;
  }
  
  
  
  