#property-details{
    display: flex;
   
}
#heading{
    color: gray;
}

.ManageProperty-table{
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.6);

}
#update-btn{
    background-color: rgb(227, 227, 66);
}
#update-btn:hover{
    background-color: rgb(202, 202, 52);
}
#submit-btn{
    background-color: rgb(44, 203, 23);
}
#submit-btn:hover{
    background-color: rgb(35, 175, 17);
}
#outer{
    margin: 20px 50px;
    display: flex;
    align-items: center;  /* Vertically center content */
    justify-content: space-between; /* Space between table and image */
}